.footer {
  @extend %parent-link-inhert;
  hr {
    border-top: 1px solid $black;
  }
  .btn {
    &:hover {
      color: $white;
    }
  }
}
.footer-top {
  padding-top: 160px;
  padding-bottom: 60px;

  p {
    font-weight: 300;
  }
}
.footer-bottom {
  padding-top: 60px;

  h5 {
    font-size: rem(16);
    font-weight: 600;
  }
  ul {
    li {
      font-family: $rb;
      font-size: rem(15);
      font-weight: 300;
    }
  }
}
.footer-menu {
  margin-bottom: 50px;

  li {
    line-height: (20/14);
  }
}
.footer-end {
  background-color: darken($ocean, 5%);
}
.footer-copyright {
  font-size: rem(14);
  margin-bottom: 0;
  @extend %parent-link-inhert;
}
.footer-social {
  img {
    position: relative;
    bottom: 50px;
  }
  i {
    font-size: rem(20);
    border: 1px solid $orange;
    border-radius: 50%;
    padding: 6px;
  }
}
@media only screen and (max-width: 1199px) and (min-width: 768px) {
  .footer-top {
    .btn-secondary-reverse {
      margin-top: 1.5rem;
    }
  }
}
@media only screen and (max-width: 473px) {
  .footer-top {
    .btn-secondary-reverse {
      margin-top: 1.5rem;
    }
  }
}