{% extends 'layouts/application.html' %}
{% block htmlClass %}h-100{% endblock %}
{% block bodyClass %}page-internal d-flex h-100{% endblock %}
{% block content %}
  <main id="main-content" class="main-content">
    <div class="space-20 space-dt-30"></div>
    {% include "modules/mod-title.html" %}
    <div class="space-10"></div>
    {% include "modules/mod-information.html" %}
    <div class="space-120"></div>
    {% include "modules/mod-feature.html" %}
    <div class="space-120"></div>
    {% include "modules/mod-portfolio.html" %}
    <div class="space-120"></div>
    {% include "modules/mod-headline.html" %}
    <div class="space-120"></div>
    {% include "modules/mod-post.html" %}
    <div class="space-120"></div>
    {% include "modules/mod-analytic.html" %}
    <div class="space-120"></div>
    {% include "modules/mod-partner.html" %}
    <div class="space-120"></div>
    {% include "modules/mod-about.html" %}
    <div class="space-120"></div>
    {% include "modules/mod-resources.html" %}
    <div class="space-120"></div>
    {% include "modules/mod-related.html" %}
    <div class="space-120"></div>
    {% include "modules/mod-contact.html" %}
  </main>
{% endblock %}
