---
author: Frontend Team
ourTeam: My Team
---
{% extends 'layouts/application.html' %}{% block bodyClass %}class="page-home"{% endblock %}{% block content %}
<main id="main-content" class="main-content">
  <div class="container">
    <h2>Add module here</h2>
    {% include 'modules/mod-slider.html' %}
  </div>
  <div class="space-50"></div>
</main>
{% endblock %}
