{% extends 'layouts/application.html' %}
{% block bodyClass %}class="page-internal"{% endblock %}
{% block content %}
<main id="main-content" class="main-content">
	<div class="container">
		<ol>
			<li><a href="index.html">index.html</a></li>
			<li><a href="universal.html">universal.html</a></li>
			<li><a href="contact.html">contact.html</a></li>
			<li><a href="404.html">404.html</a></li>
			<li><a href="animation.html">animation.html</a></li>
			<li><a href="binh.html">binh.html</a></li>
		</ol>
	</div>
	<div class="space-50"></div>
</main>
{% endblock %}
