// *:focus,
// button:focus,
// input:focus,
// *,
// input,
// button,
// *:active,
// input:active,
// button:active,
// option {
//   outline: none !important;
//   outline: 0 !important;
// }

html {
  margin: 0 auto;
  background-color: $white;
}
body {
  letter-spacing: $letter-spacing;
}
body,
html {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  a {
    @extend %link-inhert;
    font-style: normal;
    font-weight: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: none !important;
    }
  }
}

ol,
ul {
  li {
    margin-bottom: 10px;
  }
}

img {
  max-width: 100%;
}

label {
  margin-bottom: 0;
}

.bold,
b,
strong {
  font-weight: 700;
}

a {
  transition: .25s all;
  &:hover {
    transition: .25s all;
  }
}
h1,
.h1 {
  line-height: 1.2;
}
h2,
.h2 {
  line-height: 1.34;
}
h3,
.h3 {
  font-weight: 600;
  line-height: 1.38;
}
h4,
.h4 {
  font-family: $rb;
  font-weight: 300;
  line-height: 1.52;
  letter-spacing: .11px;
  color: $cyan;
}
h5,
.h5 {
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: .7px;
}
.p-small {
  font-family: $rb;
  font-size: rem(16);
  line-height: 1.69;
  letter-spacing: .18px;
  color: $cyan;
}
