.text-center {
  .btn {
    margin: 0 5px 10px;
  }
}
.btn {
  font-family: $ml;
  font-size: rem(18);
  line-height: 1.17;
  color: $white;
  padding-right: 40px;
}
.a-arrow {
  &:hover {
    .arrow,
    .arrow.primera {
      animation: bounceAlpha 1.4s infinite linear;
    }
    .arrow.primera {
      animation-delay: .2s;
    }
  }
}
.btn-primary {
  &:hover {
    background-color: $blue-dark;
  }
}
.btn-secondary {
  background-color: $orange;
  &:hover {
    background-color: $orange-dark;
    color: $white;
  }
}
.btn-outline-primary {
  color: $purple;
  &:hover {
    border: 1px solid transparent;
    color: $purple;
    background-color: $white;
  }
}
.btn-outline-secondary {
  color: $ocean;
  border: solid 1px $orange;
  &:hover {
    color: $ocean;
    border: 1px solid transparent;
  }
}
.btn-secondary-reverse {
  background-color: transparent;
  border: 1px solid $orange;
  &:hover {
    color: $white;
    background-color: $orange;
  }
}

.arrow {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 12px;
  right: 23px;
}
.segunda {
  right: 17px;
}
@keyframes bounceAlpha {
  0% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
  25% {
    opacity: 0;
    transform: translateX(10px) scale(.9);
  }
  26% {
    opacity: 0;
    transform: translateX(-10px) scale(.9);
  }
  55% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}
.bounceAlpha,
.arrow.primera.bounceAlpha {
  animation: bounceAlpha 1.4s infinite linear;
}
.arrow.primera.bounceAlpha {
  animation-delay: .2s;
}
.arrow-down {
  font-size: rem(15);
}
.custom-link {
  font-family: $ml;
  font-size: rem(18);
  color: $purple;
  text-decoration: none;

  &:hover {
    color: $orange;
  }
}
