/* font-family other */
$ml: 'Raleway', sans-serif;
$slick: 'slick';
$icomoon: 'icomoon';
$rb: 'Roboto', sans-serif;

/* font-family body */
$font-family-base: $rb;

/* set screen */

// variables gird
$col-xs: 0;
$col-sm: 481px;
$col-md: 768px;
$col-lg: 992px;
// $col-sl: 1025px;
$col-xl: 1200px;
$col-xxl: 1366px;

// variables max widths
$media-sm: 100%;
$media-md: 720px;
$media-lg: 960px;
$media-xl: 1140px;
$media-xxl: 1200px;

/* class bootstrap helper (d-md-none d-lg-none) */
// $grid-breakpoints-custom: (xs: 0, md: $col-md, lg: $col-lg, sl:$col-sl);
// $grid-breakpoints-mb: (xs: 0);
// $grid-breakpoints-dt: (md: $col-md, lg: $col-lg, sl:$col-sl, xl: $col-xl);

/* class media bootstrap reponsive helper @include media-breakpoint-up(xl) */
// $grid-breakpoints-media: (xs: $col-xs, sm: $col-sm, md: $col-md, lg: $col-lg, xl: $col-xl);

$grid-breakpoints: () !default;
$grid-breakpoints: map-merge(
  (
    xs: $col-xs,
    sm: $col-sm,
    md: $col-md,
    lg: $col-lg,
    xl: $col-xl
  ),
  $grid-breakpoints
);

/* class gird (col-md-6, container max-width) */

$container-max-widths: (sm: null, md: $media-md, lg: $media-lg);


$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;


/* Color system */

$white: #fff !default;
$gray-100: #ebebeb !default;
// $gray-200: #e9ecef !default;
// $gray-300: #dee2e6 !default;
// $gray-400: #ced4da !default;
// $gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
// $gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #00142a !default;


$grays: ( // 100: $gray-100,
  // 200: $gray-200,
  // 300: $gray-300,
  // 400: $gray-400,
  // 500: $gray-500,
  600: $gray-600,
  // 700: $gray-700,
  800: $gray-800,
  900: $gray-900) !default;

  $blue:    #ff602e !default;
  $indigo:  #6610f2 !default;
  $purple:  #44247b !default;
  $pink:    #e83e8c !default;
  $red:     #dc3545 !default;
  $orange:  #ff602e !default;
  $yellow:  #ffc107 !default;
  $green:   #3ddc97 !default;
  $teal:    #20c997 !default;
  $cyan:    #516d8a !default;
  $ocean:   #07294e !default;
  $blue-dark:   #031c36 !default;
  $orange-dark:   #de4617 !default;

$colors: (blue: $blue,
  indigo: $indigo,
  purple: $purple,
  pink: $pink,
  red: $red,
  orange: $orange,
  yellow: $yellow,
  green: $green,
  teal: $teal,
  cyan: $cyan,
  white: $white,
  gray: $gray-600,
  gray-dark: $gray-800,
  ocean: $ocean,
  blue-dark: $blue-dark,
  orange-dark: $orange-dark
) !default;

$theme-colors: (
  primary: $ocean,
  // secondary: $gray-600,
  // success: $green,
  // info: $cyan,
  // warning: $yellow,
  // danger: $red,
  // light: $gray-100,
  // dark: $gray-800
) !default;


/* body */
$body-bg: $white !default;
$body-color: $cyan !default;

/* color heading */
// set color for heading
$color-h: $cyan;
$black: $gray-900 !default;

$link-color: $blue !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

// Paragraphs
$paragraph-margin-bottom: 1rem;

// Options
$enable-rounded: true !default;
$enable-shadows: true !default;
$enable-gradients: false !default;
$enable-transitions: true !default;
$enable-hover-media-query: false !default;
$enable-grid-classes: true !default;
$enable-print-styles: true !default;

// Components

$btn-border-width: 2px !default;
$border-color: $color-h !default;
$border-radius: .25rem !default;
$caret-width: .3em !default;
$transition-base: all .2s ease-in-out !default;
$transition-fade: opacity .15s linear !default;
$transition-collapse: height .35s ease !default;
$btn-line-height: 1.28 !default;
/* btn custom */

$btn-font-weight: 700 !default;
//$btn-box-shadow:                 inset 0 1px 0 rgba($white,.15), 0 1px 1px rgba($black,.075) !default;
//$btn-focus-box-shadow:           0 0 0 3px rgba(theme-color("primary"), .25) !default;
//$btn-active-box-shadow:          inset 0 3px 5px rgba($black,.125) !default;
$btn-link-disabled-color: $gray-900 !default;
$btn-border-radius: $border-radius !default;
$btn-transition: .25s all !default;
$border-color: $border-color;
$btn-padding-y: 11.5px;
$btn-padding-x: 19px;

/* font size */

@function rem($pixels, $context: 16) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}

$font-b: 16;
$fontpx: 16px;

/* set style body */
$letter-spacing : 0.2px;
$font-size-base : rem($font-b);
$line-height-base : (30/$font-b) !default;
$font-weight-base : 400;

/* font heading */

$h1-font-size : rem(50);
$h2-font-size : rem(35);
$h3-font-size : rem(21);
$h4-font-size : rem(21);
$h5-font-size : rem(14);
$h6-font-size : rem(14);

/* heading custom */

$headings-margin-bottom: 1rem !default;
$headings-font-family: $ml !default;
$headings-font-weight: inherit !default;
$headings-line-height: 1.1 !default;
$headings-color: $ocean !default;

/* .form-control */

$input-btn-padding-y: rem(15);
$input-btn-padding-x: rem(20);
$input-btn-line-height: 1.2;
$input-color: $color-h;
$input-bg: $body-bg;
$input-btn-border-width: 1px;
$input-border-color: $cyan;
$input-border-radius: $border-radius;
$input-placeholder-color: $cyan;
$input-disabled-bg: $gray-100;
// $input-focus-box-shadow: 0 0 0 .2rem rgba(0, 81, 170, .3);
// $input-box-shadow: 0 0 0 .2rem rgba(0, 81, 170, .3);

/* .breadcrumb */

$breadcrumb-padding-y: rem(1);
$breadcrumb-padding-x: rem(0);
$breadcrumb-bg: $white;
