<footer id="footer" class="module footer bg-primary text-white mt-5">
  <div class="container">
    <div class="row footer-top">
      <div class="col-md-7">
        <h2 class="h1 mb-4">Ready to modernize third-party risk assessment?</h2>
        <h4>Find out how CyberGRX transforms TPCRM for enterprises and third parties.</h4>
      </div>
      <div class="col-md-5 my-auto">
        <a href="#" class="btn btn-secondary ps-rv mr-3 a-arrow">Request a Demo
          <i class="icomoon icon-chevron-right arrow primera next" aria-hidden="true"></i>
          <i class="icomoon icon-chevron-right arrow segunda next" aria-hidden="true"></i>
        </a>
        <a href="#" class="btn btn-secondary-reverse ps-rv a-arrow">Learn How to Buy
          <i class="icomoon icon-chevron-right arrow primera next" aria-hidden="true"></i>
          <i class="icomoon icon-chevron-right arrow segunda next" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <hr>
    <div class="row footer-bottom">
      <div class="footer-item-col col-lg-2 col-6">
        <h5><a href="#" class="text-decoration-none">Platform</a></h5>
        <ul class="list-unstyled footer-menu">
          <li><a href="#" class="text-decoration-none">CyberGRX Exchange</a></li>
          <li><a href="#" class="text-decoration-none">Identify & Prioritize</a></li>
          <li><a href="#" class="text-decoration-none">Assess & Validate</a></li>
          <li><a href="#" class="text-decoration-none">Reduce Risk</a></li>
        </ul>
      </div>
      <div class="footer-item-col col-lg-2 col-6">
        <h5><a href="#" class="text-decoration-none">For Third Party Vendors</a></h5>
        <ul class="list-unstyled footer-menu">
          <li><a href="#" class="text-decoration-none">Proactive Assessment</a></li>
          <li><a href="#" class="text-decoration-none">Received a request for assessment?</a></li>
        </ul>
      </div>
      <div class="footer-item-col col-lg-2 col-6">
        <h5><a href="#" class="text-decoration-none">Resources</a></h5>
        <ul class="list-unstyled footer-menu">
          <li><a href="#" class="text-decoration-none">Research & Insights</a></li>
          <li><a href="#" class="text-decoration-none">Case Studies</a></li>
          <li><a href="#" class="text-decoration-none">Product Demos</a></li>
          <li><a href="#" class="text-decoration-none">Data Sheets</a></li>
          <li><a href="#" class="text-decoration-none">Cyber Security Podcast</a></li>
          <li><a href="#" class="text-decoration-none">Customer Community</a></li>
        </ul>
      </div>
      <div class="footer-item-col col-lg-2 col-6">
        <h5><a href="#" class="text-decoration-none">Company</a></h5>
        <ul class="list-unstyled footer-menu">
          <li><a href="#" class="text-decoration-none">Careers</a></li>
          <li><a href="#" class="text-decoration-none">Partners</a></li>
          <li><a href="#" class="text-decoration-none">Leadership</a></li>
          <li><a href="#" class="text-decoration-none">News</a></li>
          <li><a href="#" class="text-decoration-none">Events</a></li>
        </ul>
      </div>
      <div class="footer-item-col col-lg-2 col-6">
        <h5><a href="#" class="text-decoration-none">How to Buy</a></h5>
        <ul class="list-unstyled footer-menu">
          <li><a href="#" class="text-decoration-none">Pricing & Buying Guides</a></li>
          <li><a href="#" class="text-decoration-none">Get a Free Trial</a></li>
          <li><a href="#" class="text-decoration-none">Request a Demo</a></li>
        </ul>
      </div>
      <div class="footer-item-col col-lg-2 col-6">
        <h5><a href="#" class="text-decoration-none">Contact</a></h5>
        <ul class="list-unstyled footer-menu">
          <li><a href="#" class="text-decoration-none">877.929.2374</a></li>
          <li><a href="#" class="text-decoration-none">sales@cybergrx.com</a></li>
          <li><a href="#" class="text-decoration-none">1637 Wazee Street Denver, CO 80202</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-social">
      <ul class="list-unstyled d-flex justify-content-end">
        <li class="px-2">
          <a class="text-decoration-none" rel="noopener noreferrer" target="_blank" href="#">
            <i class="icomoon icon-twitter" aria-hidden="true"></i>
            <span class="sr-only">twitter</span>
          </a>
        </li>
        <li class="px-2">
          <a class="text-decoration-none" rel="noopener noreferrer" target="_blank" href="#">
            <i class="icomoon icon-linkedin2" aria-hidden="true"></i>
            <span class="sr-only">linkedin</span>
          </a>
        </li>
        <li class="px-2">
          <a class="text-decoration-none" rel="noopener noreferrer" target="_blank" href="#">
            <i class="icomoon icon-youtube" aria-hidden="true"></i>
            <span class="sr-only">youtube</span>
          </a>
        </li>
      </ul>
      <a href="#">
        <span class="sr-only">Logo</span>
        <img class="lazy bg" data-src="/assets/images/logo.png" alt="logo">
      </a>
    </div>
  </div>
  <div class="text-center py-4 footer-end">
    <p class="footer-copyright">
      © 2020 CyberGRX - The Third Party Cyber Risk Exchange |
      <a href="#" class="text-decoration-none"><strong>Privacy Policy</strong></a>
    </p>
  </div>
</footer>
