<!-- BEGIN LOADDING -->
<div id="loadding-page" class="module loadding-page hide-loader">
	<div class="loader">
		<div class="spinner loader-item">
			<div class="double-bounce1 bg-white ps-as"></div>
			<div class="double-bounce2 bg-white ps-as"></div>
		</div>
	</div>
</div>
<!-- END LOADDING -->


