<div class="navbar-collapse main-menu" id="main-menu" data-module="menu">
  <div class="col-md-12 pr-1 pt-4 text-login text-right">
    <a href="#">Partner Portal</a>
    <span>|</span>
    <a href="#">Exchange Login</a>
  </div>
  <ul class="col-md-12 pl-3 main-menu-ul navbar-nav ml-lg-auto justify-content-end">
    <li class="has-sub">
      <a href="#">Platform</a>
      <div class="nav-item-arrows">
        <i class="icomoon icon-chevron-down" aria-hidden="true"></i>
      </div>
      <div class="dropdown-menu main-menu-dropdown">
        <ul>
          <li><a href="#">Platform A</a></li>
          <li><a href="#">Platform B</a></li>
          <li><a href="#">Platform C</a></li>
        </ul>
      </div>
    </li>
    <li>
      <a href="#">How to Buy</a>
    </li>
    <li>
      <a href="#">Customers</a>
    </li>
    <li class="has-sub">
      <a href="#">Resources</a>
      <div class="nav-item-arrows">
        <i class="icomoon icon-chevron-down" aria-hidden="true"></i>
      </div>
      <div class="dropdown-menu main-menu-dropdown">
        <ul>
          <li><a href="#">Resources A</a></li>
          <li><a href="#">Resources B</a></li>
          <li><a href="#">Resources C</a></li>
        </ul>
      </div>
    </li>
    <li class="has-sub">
      <a href="#">Company</a>
      <div class="nav-item-arrows">
        <i class="icomoon icon-chevron-down" aria-hidden="true"></i>
      </div>
      <div class="dropdown-menu main-menu-dropdown">
        <ul>
          <li><a href="#">Company A</a></li>
          <li><a href="#">Company B</a></li>
          <li><a href="#">Company C</a></li>
        </ul>
      </div>
    </li>
    <li>
      <a href="#">Contact</a>
    </li>
    <li>
      <a href="#" class="search ps-rv">
        <span class="sr-only">Search</span>
        <i class="icomoon icon-icon-search" aria-hidden="true"></i>
      </a>
    </li>
    <li class="my-auto mr-lg-3">
      <a href="#" class="btn btn-secondary-reverse header-btn">Request Demo
      </a>
    </li>
    <li class="my-auto pt-2">
      <a href="#" class="btn btn-primary header-btn">Free Trial
      </a>
    </li>
  </ul>
</div>
