@include media-breakpoint-up(lg) {
  .search {
    padding: 18px 15px 18px 5px !important;
    bottom: -2px;
  }
  .header-btn {
    font-size: rem(9) !important;
  }

  .main-menu-ul {
    padding: 0;

    >li {
      text-transform: capitalize;
      font-size: rem(12);

      >a {
        padding: 18px 13px;
      }

      &:hover {
        .main-menu-dropdown {
          display: block;
        }
      }
    }

    .mega-dropdown {
      position: static;
    }
  }

  .main-menu-dropdown {
    min-width: 200px;
    width: 100%;
    margin: 0;
    font-size: rem(12);
    border: none;
    background-color: $white;
    box-shadow: 2px 9px 18px -6px rgba(0, 0, 0, .22);

    .menu-child {
      display: block;
    }
  }

  .navbar {
    position: static;
  }
  .main-menu-ul li:last-child {
    padding-top: 0 !important;
  }
  .navbar-expand-lg .navbar-collapse {
    display: block !important;
  }
  @include media-breakpoint-down(xl) {
    .main-menu-ul {
      justify-content: flex-end !important;
    }
    .header-first-btn {
      margin-right: .8rem !important;
    }
  }
}
@include media-breakpoint-up(xl) {
  .header-btn {
    font-size: rem(15) !important;
  }
  .second-menu li:last-child {
    margin-left: .8rem;
  }
  .first-menu {
    position: relative;
    left: 55px;
  }
  .main-menu-ul {
    >li {
      font-size: rem(15);
    }
  }
  .main-menu-dropdown {
    font-size: rem(15);
  }
}
.nav-item-arrows {
  @include position( absolute, 4px, -17px, null, null, 1);
}
