<!-- begin header -->
<!doctype html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="theme-color" content="#536878" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, viewport-fit=cover" />
  <title>{% block title %}{{ title.title }}{% endblock %}</title>
  <meta name="description" content="{{ title }}"/>
  <link rel="icon" href="favicon.png" type="image/x-icon">
  <link rel="apple-touch-icon" href="favicon.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-touch-fullscreen" content="YES">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <!-- Facebook Open Graph -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://example.com/page.html">
  <meta property="og:title" content="Content Title">
  <meta property="og:image" content="https://example.com/image.jpg">
  <meta property="og:description" content="Description Here">
  <meta property="og:site_name" content="Site Name">
  <meta property="og:locale" content="en_US">
  <!-- Next tags are optional but recommended -->
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@site_account">
  <meta name="twitter:creator" content="@individual_account">
  <meta name="twitter:url" content="https://example.com/page.html">
  <meta name="twitter:title" content="Content Title">
  <meta name="twitter:description" content="Content description less than 200 characters">
  <meta name="twitter:image" content="https://example.com/image.jpg">
  <link href='https://fonts.googleapis.com' rel='dns-prefetch' crossorigin />
  <link href='https://cdnjs.cloudflare.com' rel='dns-prefetch' crossorigin />
  <link href='https://fonts.googleapis.com' rel='preconnect' crossorigin />
  <link href='https://cdnjs.cloudflare.com' rel='preconnect' crossorigin />
  {% include "layouts/loadcss.html" %}
  {% block head %}{% endblock %}
</head>

<body {% block bodyClass %}{% endblock %}>
    {% include "modules/global/loading.html" %}
  <div id="wrapper" class="wrapper">
    {% block header %}
    {% include "modules/global/header.html" %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
    {% include "modules/global/footer.html" %}
    {% endblock %}

    {% block javascript %}
    {% include "modules/global/javascript.html" %}
    {% endblock %}
  </div>
  {% include "modules/global/no-script.html" %}
  {% include "modules/global/class.html" %}
</body>

</html>
<!-- end footer -->
