<!-- module 'Mod Contact' -->
<section class="module mod-contact pt-5 mx-auto">
  <div class="container contact-container">
    {%if contact.title|length %}
    <h2 class="h1">{{contact.title}}</h2>
    {%endif%}
    {%if contact.subTitle|length %}
    <h4>{{contact.subTitle}}</h4>
    {%endif%}
    <form class="mt-5">
      <div class="form-row">
        <div class="col-md-6 form-ani">
          <div class="form-group form-group-v2">
            <div class="form-inner">
              <label for="default-tex2" class="label-animation">First Name*</label>
              <input type="text" id="default-tex2" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-md-6 form-ani">
          <div class="form-group form-group-v2">
            <div class="form-inner">
              <label for="default-tex2" class="label-animation">Last Name*</label>
              <input type="text" id="default-tex2" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6 form-ani">
          <div class="form-group form-group-v2">
            <div class="form-inner">
              <label for="default-tex2" class="label-animation">Email*</label>
              <input type="text" id="default-tex2" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-md-6 form-ani">
          <div class="form-group form-group-v2">
            <div class="form-inner">
              <label for="default-tex2" class="label-animation">Company*</label>
              <input type="text" id="default-tex2" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group form-select-c8 col-md-6">
          <select id="inputState" class="select-c8" data-title="Country*">
            {% for item in contact.options %}
            <option>{{item.country}}</option>
            {%endfor%}
          </select>
        </div>
      </div>
      {%if contact.btn|length %}
      <a href="#" class="btn btn-secondary ps-rv mt-3 a-arrow">{{contact.btn}}
        <i class="icomoon icon-chevron-right arrow primera next" aria-hidden="true"></i>
        <i class="icomoon icon-chevron-right arrow segunda next" aria-hidden="true"></i>
      </a>
      {%endif%}
    </form>
  </div>
</section>
