<!-- module 'Mod Post' -->
<section class="module mod-post">
  <div class="container">
    <div class="row">
      {% for item in post.normal %}
      <div class="col-lg-3 col-md-6 mb-4">
        {%if item.image|length %}
        <div class="lazy bg post-image mb-4 rounded" data-src="{{item.image}}">
          <a href="#" class="ps-as">
            {%if item.title|length %}
              <span class="sr-only">{{item.title}}</span>
            {%endif%}
          </a>
        </div>
        {%endif%}
        {%if item.title|length %}
          <h3><a href="#">{{item.title}}</a></h3>
        {%endif%}
        {%if item.desc|length %}
          <p>{{item.desc}}</p>
        {%endif%}        
      </div>
      {%endfor%}
    </div>
    <div class="row mt-5">
      {% for item in post.large %}
      <div class="col-md-6 mb-4">
        {%if item.image|length %}
        <div class="lazy bg post-image mb-4 rounded" data-src="{{item.image}}">
          <a href="#" class="ps-as">
            {%if item.title|length %}
              <span class="sr-only">{{item.title}}</span>
            {%endif%}
          </a>
        </div>
        {%endif%}
        {%if item.title|length %}
          <h2><a href="#">{{item.title}}</a></h2>
        {%endif%}
        {%if item.desc|length %}
          <p>{{item.desc}}</p>
        {%endif%}
      </div>
      {%endfor%}
    </div>
  </div>
</section>
