<!-- module 'Mod Feature' -->
<section class="module mod-feature">
  <div class="container">
    <div class="slick-feature slider slider-lazy">
      {% for item in feature %}
      <div class="feature-item item-tns slider-item">
        <div class="row">
          <a href="#" class="ps-as">
            {%if item.title|length %}
            <span class="sr-only">{{item.title}}</span>
            {%endif%}
          </a>
          <div class="col-lg-6 feature-image">
            {%if item.title|length %}
            <h2>{{item.title}}</h2>
            {%endif%}
            {%if item.image|length %}
            <img class="lazy mx-auto rounded" data-src="{{item.image}}" alt="slider">
            {%endif%}
          </div>
          <div class="col-lg-6 py-3 my-auto feature-info">
            {%if item.title|length %}
            <h2>{{item.title}}</h2>
            {%endif%}
            {%if item.desc|length %}
            <p class="p-small">{{item.desc}}</p>
            {%endif%}
          </div>
        </div>
      </div>
      {%endfor%}
    </div>
  </div>
</section>
