<!-- module 'Mod Information' -->
<section class="module mod-information">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-lg-2">
        {%if information[0].image|length %}
        <img class="lazy bg rounded" data-src="{{information[0].image}}" alt="infor">
        {%endif%}
      </div>
      <div class="col-lg-6 order-lg-1 mt-4 information-padding-right">
        {%if information[0].title|length %}
          <h2>{{information[0].title}}</h2>
        {%endif%}
        {%if information[0].subTitle|length %}
          <h4>{{information[0].subTitle}}</h4>
        {%endif%}
        {%if information[0].desc|length %}
          <p>{{information[0].desc}}</p>
        {%endif%}
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-6">
        {%if information[1].image|length %}
        <img class="lazy bg rounded information-image" data-src="{{information[1].image}}" alt="infor">
        {%endif%}
      </div>
      <div class="col-lg-6 mt-4 information-margin-auto information-padding-left">
        {%if information[1].title|length %}
          <h2>{{information[1].title}}</h2>
        {%endif%}
        {%if information[1].subTitle|length %}
          <h4>{{information[1].subTitle}}</h4>
        {%endif%}
        {%if information[1].desc|length %}
          <p>{{information[1].desc}}</p>
        {%endif%}
      </div>
    </div>
  </div>
</section>
