<!-- module 'Mod Headline' -->
<section class="module mod-headline">
  <div class="container text-center">
    {%if headline.title|length %}
      <h2>{{headline.title}}</h2>
    {%endif%}
    {%if headline.subTitle|length %}
      <h4>{{headline.subTitle}}</h4>
    {%endif%}
    <div class="row mt-5 text-left">
      {% for item in headline.slide %}
      <div class="col-md-4 px-4">
        {%if item.image|length %}
          <div class="bg lazy mb-4 headline-image" data-src="{{item.image}}"></div>
        {%endif%}
        {%if item.title|length %}
          <h3>{{item.title}}</h3>
        {%endif%}
        {%if item.desc|length %}
          <p>{{item.desc}}</p>
        {%endif%}
      </div>
      {%endfor%}
    </div>
    <a href="#" class="btn btn-secondary ps-rv mt-5 a-arrow">
      {%if headline.btn|length %}
        {{headline.btn}}
      {%endif%}
      <i class="icomoon icon-chevron-right arrow primera next" aria-hidden="true"></i>
      <i class="icomoon icon-chevron-right arrow segunda next" aria-hidden="true"></i>
    </a>
  </div>
</section>
