<!-- module 'Mod About' -->
<section class="module mod-about">
  <div class="container">
    <div class="slick-about slider slider-lazy">
      {% for item in about.infor %}
      <div class="about-item item-tns slider-item">
        <div class="row">
          <div class="col-lg-3">
            {%if item.image|length %}
              <img class="lazy bg rounded mx-auto h-100" data-src="{{item.image}}" alt="{{item.name}}">
            {%endif%}
          </div>
          <div class="col-lg-9 pt-3 pr-5">
            {%if item.desc|length %}
              <h4>"{{item.desc}}"</h4>
            {%endif%}
            <div class="row mt-5">
              <div class="ml-4 col-lg-6 about-border">
                {%if item.name|length %}
                  <h3>{{item.name}}</h3>
                {%endif%}
                {%if item.job|length %}
                  <h5>{{item.job}}</h5>
                {%endif%}
              </div>
              <div class="col-lg-6 about-link">
                {%if item.btn|length %}
                    <a class="custom-link text-decoration-none ps-rv d-inline-block mt-3 font-weight-bold a-arrow" href="#">{{item.btn}}
                    <i class="icomoon icon-chevron-right arrow primera" aria-hidden="true"></i>
                    <i class="icomoon icon-chevron-right arrow segunda" aria-hidden="true"></i>
                  </a>
                {%endif%}
              </div>
            </div>
          </div>
        </div>
      </div>
      {%endfor%}
    </div>

    <div class="slick-logos mt-5 text-center slider slider-lazy">
      {% for item in about.logos %}
        {%if item.image|length %}
          <img class="lazy bg mx-auto px-5" data-src="{{item.image}}" alt="{{item.image}}">
        {%endif%}
      {%endfor%}
    </div>
  </div>
</section>
