<!-- module 'Mod Title' -->
<section class="module mod-title">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        {%if title.title|length %}
          <h1>{{title.title}}</h1>
        {%endif%}
        {%if title.desc|length %}
          <p>{{title.desc}}</p>
        {%endif%}
        <a href="#" class="btn btn-secondary ps-rv a-arrow mt-2">
          {%if title.btnContent|length %}
            {{title.btnContent}}
          {%endif%}
          <i class="icomoon icon-chevron-right arrow primera next" aria-hidden="true"></i>
          <i class="icomoon icon-chevron-right arrow segunda next" aria-hidden="true"></i>
        </a>
      </div>
      {%if title.backgroundImg|length %}
      <div class="col-lg-6 ml-3 bg lazy title-image mt-5" data-src="{{title.backgroundImg}}">
      {%endif%}
      </div>
    </div>
  </div>
</section>