<!-- module 'Resources' -->
<section class="module resources">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 p-5 resource-left">
        <div class="bg lazy resource-image" data-src="/assets/images/resources.jpg"></div>
        {%if resources.title|length %}
        <h2>{{resources.title}}</h2>
        {%endif%}
        {%if resources.subTitle|length %}
        <h4>{{resources.subTitle}}</h4>
        {%endif%}
        {%if resources.btn1|length %}
        <a class="custom-link text-decoration-none font-weight-bold d-inline-block mt-4 ps-rv a-arrow" href="#">{{resources.btn1}}
          <i class="icomoon icon-chevron-right arrow primera" aria-hidden="true"></i>
          <i class="icomoon icon-chevron-right arrow segunda" aria-hidden="true"></i>
        </a>
        {%endif%}
        <br>
        {%if resources.btn2|length %}
        <a class="custom-link text-decoration-none font-weight-bold d-inline-block mt-3 ps-rv a-arrow" href="#">{{resources.btn2}}
          <i class="icomoon icon-chevron-right arrow primera" aria-hidden="true"></i>
          <i class="icomoon icon-chevron-right arrow segunda" aria-hidden="true"></i>
        </a>
        {%endif%}
      </div>
      <div class="col-lg-5 bg-primary text-white m-0 p-0 rounded">
        <div class="resource-top pb-4">
          {%if resources.titleRight|length %}
          <h2>{{resources.titleRight}}</h2>
          {%endif%}
        </div>
        <div class="resource-dark w-100 px-4 pb-4">
          {%if resources.link1|length %}
          <a class="text-decoration-none font-weight-bold d-block ps-rv p-4 pr-5 resource-link a-arrow" href="#">
            {{resources.link1}}
            <i class="icomoon icon-chevron-right arrow primera next" aria-hidden="true"></i>
            <i class="icomoon icon-chevron-right arrow segunda next" aria-hidden="true"></i>
          </a>
          {%endif%}
          {%if resources.link2|length %}
          <a class="text-decoration-none font-weight-bold ps-rv d-block p-4 pr-5 resource-link" href="#">{{resources.link2}}
            <i class="icomoon icon-arrow-down arrow-down" aria-hidden="true"></i>
          </a>
          {%endif%}
          {%if resources.link3|length %}
          <a class="text-decoration-none font-weight-bold ps-rv d-block p-4 pr-5 resource-link" href="#">{{resources.link3}}
            <i class="icomoon icon-arrow-down arrow-down" aria-hidden="true"></i>
          </a>
          {%endif%}
        </div>
      </div>
    </div>
  </div>
</section>
