<!-- module 'Mod Slider' -->
<section class="module mod-slider">
  <div class="container">
    <div class="slider slider-lazy">
      <div class="item-tns slider-item">
        <div class="lazy bg" data-src="//cdn.agilitycms.com/9th-wonder/MediaGroupings/15/nha-trang-16.jpg">
          <div class="space-200"></div>
          <div class="space-200"></div>
        </div>
      </div>
      <div class="item-tns slider-item">
        <img class="lazy w-100" data-src="//cdn.agilitycms.com/9th-wonder/MediaGroupings/15/nha-trang-16.jpg" src="{{imagesBase64}}" alt="name image">
      </div>
      <div class="item-tns slider-item">
        <div class="lazy bg" data-src="//cdn.agilitycms.com/9th-wonder/MediaGroupings/15/nha-trang-16.jpg">
          <div class="space-100"></div>
          <div class="space-100"></div>
        </div>
      </div>
      <div class="item-tns slider-item">
        <img class="lazy w-100" data-src="//cdn.agilitycms.com/9th-wonder/MediaGroupings/15/nha-trang-16.jpg" src="{{imagesBase64}}" alt="name image">
      </div>
      <div class="item-tns slider-item">
        <img class="lazy w-100" data-src="//cdn.agilitycms.com/9th-wonder/MediaGroupings/15/nha-trang-16.jpg" src="{{imagesBase64}}" alt="name image">
      </div>
      <div class="item-tns slider-item">
        <img class="lazy w-100" data-src="//cdn.agilitycms.com/9th-wonder/MediaGroupings/15/nha-trang-16.jpg" src="{{imagesBase64}}" alt="name image">
      </div>
    </div>
  </div>
</section>