<!-- module 'Mod Partner' -->
<section class="module mod-partner">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 pr-4 text-center my-auto">
        {%if partner.title|length %}
          <h5>{{partner.title}}</h5>
        {%endif%}
      </div>
      <div class="col-lg-10 mt-4 partner-logos">
        <div class="slick-partner slider slider-lazy">
          {% for item in partner.logos %}
          <div class="partner-item item-tns slider-item">
            <a href="#" class="ps-as">
              {%if item.title|length %}
                <span class="sr-only">{{item.title}}</span>
              {%endif%}
            </a>
            <img class="lazy" data-src="{{item.image}}" alt="{{item.title}}">
          </div>
          {%endfor%}
        </div>
      </div>
    </div>
  </div>
</section>
