<!-- module 'Mod Analytic' -->
<section class="module mod-analytic">
  <div class="container">
    {%if analytic.title|length %}
      <h2 class="analytic-global text-center">{{analytic.title}}</h2>
    {%endif%}
    <br>
    <div class="row mb-4">
      <div class="col-lg-7 analytic-image">
        {%if analytic.image|length %}
          <img class="img-fluid bg lazy" data-src="{{analytic.image}}" alt="collapsed">
        {%endif%}
      </div>
      <div class="col-lg-5">
        <div class="accordion">
          {% for item in analytic.tab %}
          <div class="card">
            <div class="card-header p-0">
              {%if item.title|length %}
                <h3 class="mb-0">
                  {{item.title}}
                  <i class="icomoon icon-chevron-down float-right" aria-hidden="true"></i>
                  <i class="icomoon icon-chevron-up float-right" aria-hidden="true"></i>
                </h3>
              {%endif%}
            </div>
            <div class="card-body collapse">
              {%if item.image|length %}
                <img class="bg lazy" data-src="{{item.image}}" alt="collapsed">
              {%endif%}
              {%if item.desc|length %}
                <p class="mb-0 p-small">
                  {{item.desc}}
                </p>
              {%endif%}
            </div>
          </div>
          {%endfor%}
        </div>
      </div>
    </div>
  </div>
</section>
