<!-- module 'Mod Portfolio' -->
<section class="module mod-portfolio">
  <div class="container text-center">
    {%if portfolio.title|length %}
      <h2>{{portfolio.title}}</h2>
    {%endif%}
    {%if portfolio.subTitle|length %}
      <p>{{portfolio.subTitle}}</p>
    {%endif%}
    <a href="#" class="btn btn-secondary ps-rv mt-4 a-arrow">
      {%if portfolio.btn|length %}
        {{portfolio.btn}}
      {%endif%}
      <i class="icomoon icon-chevron-right arrow primera next" aria-hidden="true"></i>
      <i class="icomoon icon-chevron-right arrow segunda next" aria-hidden="true"></i>
    </a>
  </div>

  <div class="slick-portfolio slider slider-lazy mt-5 mx-auto w-75">
    {% for item in portfolio.slide %}
    <div class="item-tns slider-item portfolio-item">
      {%if item.image|length %}
      <img class="lazy w-100 mx-auto rounded" data-src="{{item.image}}" alt="slider">
      {%endif%}
    </div>
    {%endfor%}
  </div>
</section>
