<!-- module 'Mod Related' -->
<section class="module mod-related">
  <div class="container">
    {%if related.title|length %}
    <h2>{{related.title}}</h2>
    {%endif%}
    <div class="row mt-4 slick-related slider slider-lazy">
      {% for item in related.posts %}
      <div class="col-lg-4">
        {%if item.image|length %}
        <div class="related-image item-tns slider-item lazy bg rounded" data-src="{{item.image}}">
          <a href="#" class="ps-as">
            {%if item.title|length %}
            <span class="sr-only">{{item.title}}</span>
            {%endif%}
          </a>
          <div class="related-mask"></div>
        </div>
        {%endif%}
        {%if item.type|length %}
        <h5>
          <i class="icomoon icon-chevron-with-circle-right" aria-hidden="true"></i>
          {{item.type}}
        </h5>
        {%endif%}
        {%if item.title|length %}
        <h3>
          <a href="#" class="ps-rv a-arrow">{{item.title}}
            <i class="icomoon icon-chevron-right arrow primera" aria-hidden="true"></i>
            <i class="icomoon icon-chevron-right arrow segunda" aria-hidden="true"></i>
          </a>
        </h3>
        {%endif%}
      </div>
      {%endfor%}
    </div>
  </div>
</section>
