<div class="row">
  <div class="col-md-6">
    <div class="form-group form-select-c8">
      <label for="select-1">Please Select</label>
      <select class="select-c8 d-none" id="select-1" data-title="Please Select">
        <option value="India">India</option>
        <option value="Australia">Australia</option>
        <option value="United States">United States</option>
      </select>
    </div>
    <div class="form-group form-select-c8">
      <label for="select-2"></label>
      <select class="select-c8 d-none" id="select-2">
        <option value="India 2" class="">India 2</option>
        <option value="Australia 2" >Australia 2</option>
        <option value="United States 2" >United States 2</option>
        <option value="Viet Nam 2" disabled selected>Viet Nam 2</option>
      </select>
    </div>
    <div class="form-group form-select-c8">
      <label for="select-3"></label>
      <select class="select-c8 d-none" id="select-3">
        <option value="India 3">India 3</option>
        <option value="Viet Nam 3" disabled>Viet Nam 3</option>
        <option value="Australia 3">Australia 3</option>
        <option value="United States 3">United States 3</option>
      </select>
    </div>
    <div class="form-group form-select-c8 multiselect">
      <label for="multiple">multiselect</label>
      <select class="select-c8 d-none" id="multiple" multiple>
        <option value="India 4">India 4</option>
        <option value="Viet Nam 4" disabled>Viet Nam 4</option>
        <option value="Australia 4">Australia 4</option>
        <option value="United States 4">United States 4</option>
      </select>
    </div>
  </div>
</div>
