// module 'Mod About'
.mod-about {
  h3 {
    color: $cyan;
    margin-bottom: 5px;
  }
  h5 {
    margin-bottom: 5px;
  }
  i {
    right: -15px;
    top: 6px;
  }
  i.segunda {
    right: -21px;
  }
  .slick-list {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  .slick-dots {
    top: 225px;
    left: -70px;

    li button {
      border: 2px solid $white;
    }
    .slick-active button {
      background: $white;

      &::before {
        border-bottom: 5.2px solid $white;
      }
      &::after {
        border-top: 5.2px solid $white;
      }
    }
  }
}
.about-border {
  border-left: 2px solid $green;
}