// module 'Mod Contact'
.mod-contact {
  &::before {
    content: '';
    border-top: 10px solid $green;
    width: 85%;
    transform: rotate(-5deg);
    position: absolute;
    left: -5px;
  }

  p {
    max-width: 880px;
  }
  input {
    &:focus {
      border: none;
      border-bottom: 1px solid $cyan;
      box-shadow: none;
    }
  }
  .form-control {
    border-top: none;
    border-left: none;
    border-right: none;
  }
}
.contact-container {
  margin-top: 150px;
}