// module 'Mod Related'
.mod-related {
  .slick-list {
    padding-bottom: 10px;
  }
  .slick-dots {
    bottom: -55px;
  }
  h5 {
    i {
      position: relative;
      top: 2px;
      color: $orange;
      font-weight: 700;
    }
  }
  i {
    left: -5px;
    top: auto;
    bottom: -20px;
    color: $purple;
  }
  i.segunda {
    left: 2px;
  }
}
.related-image {
  padding-bottom: 60%;
  position: relative;
  overflow: hidden;
}
.related-mask {
  position: absolute;
  background-color: $white;
  transform: rotate(5deg);
  width: 110%;
  left: -20px;
  height: 100px;
  bottom: -80px;
}