// module 'Mod Slider'
.mod-feature {
  .slick-active+.slick-slide {
    &::before {
      position: absolute;
      content: '';
      display: block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .7) 2%, rgba(255, 255, 255, .8) 5%);
      height: 100%;
      z-index: 1;
    }
  }
}
.feature-item {
  position: relative;

  a:hover~.feature-info h2 {
    color: $orange;
  }
}
.feature-image {
  h2 {
    display: block;
  }
}
.feature-info {
  h2 {
    display: none;
  }
}
.slick-next,
.slick-prev {
  display: none;
  color: $purple;
  border: 1px solid $purple;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  transition: .2s all;
  line-height: 36px;
}
.slick-next {
  right: 5px;

  &:hover {
    border: 1px solid transparent;
  }
}
.slick-prev {
  z-index: 2;
  left: 5px;

  &:hover {
    border: 1px solid transparent;
  }
}
.tns-nav {
  bottom: -20px;

  button {
    border: 2px solid $purple;
  }
  .tns-nav-active {
    border-radius: 2px;
    position: relative;
    width: 18px;
    height: 10.39px;
    background-color: $purple;
    margin: 5.2px 0;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      left: 1px;
    }
    &::before {
      bottom: 100%;
      border-bottom: 5.2px solid $purple;
    }
    &::after {
      top: 100%;
      width: 0;
      border-top: 5.2px solid $purple;
    }
  }
}