// module 'Mod Analytic'
.analytic-image {
  img {
    display: none;
  }
}
.accordion {
  border-top: 4px solid rgb(197, 197, 197);
  border-radius: 5px;

  h3 {
    cursor: pointer;
    padding: 15px;
    transition: .3s all;
  }
  .card-body {
    padding: 20px;
    font-size: rem(16);
    line-height: 1.69;
    letter-spacing: .18px;
    color: $cyan;

    img {
      display: block;
    }
  }
}
.card {
  .collapse,
  i.icon-chevron-up {
    display: none;
  }

  &.is-open {
    .collapse,
    i.icon-chevron-up {
      display: block;
    }
    i.icon-chevron-down {
      display: none;
    }
  }
}