// module 'Resources'
.resources {
  i {
    position: absolute;
    right: 20px;
    top: 28px;
  }
}
.resource-link {
  font-family: $ml;
  letter-spacing: normal;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.resource-top {
  padding: 50px;

  h2 {
    margin-left: -15px;
    padding-left: 15px;
    border-left: 2px solid $green;
  }
}
.resource-dark {
  background-color: darken($ocean, 3%);

  a {
    line-height: 1.33;

    &:hover {
      border-top: 1px solid rgb(204, 198, 198);
      border-bottom: 1px solid rgba(211, 205, 205, .8);
      background-color: rgba(0, 0, 0, .15);
    }
  }
  i.segunda {
    right: 28px;
  }
}
.resource-left {
  position: relative;
  margin-bottom: 30px;

  h4 {
    position: relative;
  }
  p {
    position: relative;
    max-width: 440px;
  }
  i {
    top: 6px;
    right: -15px;
  }
  i.segunda {
    right: -21px;
  }
}
.resource-image {
  position: absolute;
  bottom: 0;
  right: 20px;
  width: 360px;
  padding-bottom: 40%;
}