// module 'Mod About'
@include media-breakpoint-up(lg) {
  .about-link {
    text-align: right;
    margin-left: -3rem;
  }
}
@include media-breakpoint-up(lg) {
  @include media-breakpoint-down(xl) {
    .about-item img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}