// module 'Mod Analytic'
@include media-breakpoint-up(lg) {
  .analytic-image {
    img {
      display: block;
    }
  }
  .accordion {
    .card-body {
      img {
        display: none !important;
      }
    }
  }
}