// module 'Mod Information'
@include media-breakpoint-up(lg) {
  .information-margin-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
  .information-padding-right {
    padding-right: 3rem !important;
  }
  .information-padding-left {
    padding-left: 3rem !important;
  }
}