// module 'Mod Slider'
.mod-feature {
  .slick-list {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
  }
}
.slick-next,
.slick-prev {
  display: block;
}
.feature-image {
  h2 {
    display: none;
  }
}
.feature-info {
  h2 {
    display: block;
  }
}
@include media-breakpoint-up(lg) {
  .slick-dots {
    bottom: -55px;
  }
  .feature-item {
    padding-right: 50px;
  }
}
@include media-breakpoint-up(lg) {
  @include media-breakpoint-down(xl) {
    .feature-item img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
    }
  }
}