// module 'Mod Title'
@include media-breakpoint-up(lg) {
  .mod-title {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }
  .title-image {
    margin-top: 0 !important;
    margin-left: 0 !important;
  }
}